
#subscriptions-message-component-text {
     -webkit-text-stroke: 0.8px rgb(0, 0, 0);
    font-weight: 900;
}

#subscription-component-title {
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 1px black;
    color: #c4b5fc; /* Width and color of the text outline */
    font-weight: 600;
}