#subscription-component-container {
    border-top: 2px solid #c4b5fd;
    border-bottom: 2px solid #c4b5fd;
    box-shadow: 5px 5px 10px rgba(161, 106, 150, 0.64);

    transition: box-shadow 0.3 ease;

    &:hover {
        box-shadow: 8px 6px 3px 0.5px  rgba(255, 255, 255, 0.5);
    }
}