body { 
    background-image: linear-gradient(to bottom, white, white, white, white, #f8d1ed, #9e92cc, #534d69, black, black);
}

#subscriptions-template-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 280%;
    -webkit-text-stroke: 3px rgb(255, 255, 255); /* Width and color of the text outline */
   font-weight: 900;
}

#subscriptions-template-header-and-greeting {
    background-image: linear-gradient(to bottom, black, black, #534d69, #9e92cc, #9e92cc, #f8d1ed, white);
}

