body { 
    background-color: rgb(250, 209, 237);
}

#subscriptions-template-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 280%;
    -webkit-text-stroke: 3px rgb(255, 255, 255); /* Width and color of the text outline */
   font-weight: 900;
}

#subscriptions-template-header-and-greeting {
    background-image: linear-gradient(to bottom, #f071b6, #f8d1ed);
}

