body { 
    background-image: linear-gradient(to bottom, white, white, white, white, #f8d1ed, #9e92cc, #534d69, black, black);
}

#subscriptions-template-title {
    font-size: 380%;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); /* Width and color of the text outline */
    font-weight: 100;
    color: rgb(245, 146, 222);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#subscriptions-template-header-and-greeting {
    background-image: linear-gradient(to bottom, black, black, #534d69, #9e92cc, #9e92cc, #f8d1ed, white);
}

