<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    </head>
    <body>
        <!-- test to add author to budgets -->
        <div ng-if="displaySignIn" ng-include="'.temp-sign-in-files/singInTemplate.html'"></div>

        <div ng-hide="isSubscriptionFormDisplayed && displaySignIn === false" ng-include="'./subscriptions-files/subscriptionsTemplate.html'"></div>
        <div ng-if="isSubscriptionFormDisplayed" ng-include="'./new-subscription-files/newSubscriptionFormTemplate.html'"></div>
    </body>
</html>