
#new-budget-form {
    box-shadow: 5px 5px 10px rgba(161, 106, 150, 0.64);
}

.new-budget-form-label-div {
    font-family: 'Orbitron', sans-serif;

}

.new-budget-form-divs {
    margin-bottom: 10%;
}

.new-budget-form-inputs {
    width: 300px;
    border: 2px solid rgb(184, 118, 196);
    border-radius: 6px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#new-budget-form-submit-btn {
    font-family: 'Orbitron', sans-serif;
}