<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./subscriptions-files/css/components-styles.css">
    </head>
    <body>
        <div id="subscription-component-container" class="flex flex-row bg-white">
            <div>
                <img ng-style="{'height': '50px', 'width': '50px', 'border-radius': '50%'}" src="https://images.ctfassets.net/y2ske730sjqp/5QQ9SVIdc1tmkqrtFnG9U1/de758bba0f65dcc1c6bc1f31f161003d/BrandAssets_Logos_02-NSymbol.jpg?w=940" alt="netflix">
            </div>
         
            <div>
                <label class="text-3xl">{{subscriptions[0].subscription}}</label>
            </div>

            <div>
                <p class="text-2xl">{{ "$" + subscriptions[0].cost + "/mo"}}</p>
            </div>
        </div>
    </body>
</html>