<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./subscriptions-files/css/template-styles.css">        
    </head>
    <body>
        <div id="subscriptions-template-container" class="mb-40 flex flex-col">
            <div id="subscriptions-template-header-and-greeting" class="flex flex-col">
            <div id="subscriptions-template-header" class="pt-4 pb-4 flex flex-col">
                <div class="flex flex-row justify-between">
                <div><button class="btns-inverted pt-2 -pb-2 pr-2 pl-2 -mb-12 rounded-lg ml-12"><span class="material-symbols-outlined">chevron_left</span></button></div>
                <div class="mt-2.5"><a class="btns-inverted pt-4 pb-1 pr-2 pl-3 rounded-lg mr-12" ng-href="#!addsubscription"><span class="material-symbols-outlined">heart_plus</span></a></div>
                </div>
                <div>
                <div><h1 id="subscriptions-template-title" class="flex flex-row justify-center text-purple-800  lg:mt-4 md:mt-4 mt-10 mb-4 lg:text-6xl md:text-5xl text-5xl">Subscriptions</h1></div>
            </div>
            </div>
            <!-- Greeting message  -->
            <div ng-include="'./subscriptions-files/components/subscriptionMessage.html'"></div>
            </div>
                <!-- repeat subscriptions-->
                <div class="mb-24">
            <div id="subscription-components" ng-repeat="(index, subscription) in submittedSubscriptionForms" class="mb-6 mt-4" >
                <monthly-subscriptions class="flex flex-row justify-center" service="{{ subscription.service }}" cost="{{ subscription.cost }}" ng-click="deleteSubscription(index)"></monthly-subscriptions>
            </div>
            </div>

            </div>
   
            
        </div>
    </body>
</html>