<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./subscriptions-files/css/template-styles.css">        
    </head>
    <body>
        <div id="subscriptions-template-container" class="mb-28">
            <div id="subscriptions-template-header" class="flex flex-row justify-between bg-pink-400 pt-4 pb-4">
                <div><a class="bg-white pt-3 -pb-2 pr-2 pl-2 -mb-12 text-purple-500 border border-purple-400 rounded-lg ml-12"  href=""><span class="material-symbols-outlined">chevron_left</span></a></div>
                <div><h1 id="subscriptions-template-title" class="flex flex-row justify-center text-purple-800 mt-4 mb-4">Subscriptions</h1></div>
                <div><button class="bg-white pt-3 -pb-2 pr-2 pl-3 text-purple-500 border border-purple-400 rounded-lg mr-12" ng-click="toggleAddSubscriptionForm()"><span class="material-symbols-outlined">heart_plus</span></button></div>
            </div>
            <!-- Greeting message  -->
            <div class="mb-8" ng-include="'./subscriptions-files/components/subscriptionMessage.html'"></div>

            <!-- add subscription form -->
            <div ng-if="isSubscriptionFormDisplayed">
                <div><h2 class="text-purple-800">Add new Subscription</h2></div>
                <div ng-include="'new-subscription-files/components/newSubscriptionForm.html'"></div>
            </div>
                <!-- repeat subscriptions-->
            <div ng-repeat="subscription in submittedSubscriptionForms" class="mb-24 mt-8" >
                <subscriptions class="flex flex-row justify-center"  service="{{ subscription.service }}" cost="{{ subscription.cost }}" ></subscriptions>
            </div>
            
            </div>
   
            
        </div>
    </body>
</html>