<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./budget-section-files/css/components-styles.css">
        <link rel="stylesheet" href="./budget-section-files/css/sass-styles.css">
    </head>
    <body>
        <div id="monthly-budget-container" class="pt-4 pb-8">
            <div id="monthly-budget-top" class="flex flex-row justify-between lg:pr-10 lg:pl-8 md:pr-10 md:pl-8 pl-4 pr-6 pt-4">
                <div class="flex flex-row justify-start -ml-6 mb-4">
                    <div class="flex flex-row justify-between gap-2 mb-2">
                   
                        <div><h1 id="monthly-budget-component-title" class="lg:text-3xl md:text-3xl text-xl text-purple-800 tracking-wider">{{ title }}</h1></div><div class="mt-1"><h1 id="monthly-budget-component-month" class="text-white font-bold lg:text-2xl md:text-xl text-md tracking-wider">{{months[currentMonth]}}</h1></div><div class="text-white font-semibold mt-1"><p class="lg:text-xl md:text-lg text-sm mt-1 tracking-wider" id="monthly-budget-component-year">{{" " + currentYear}}</p></div> 
                  </div>
                  </div>
                  
                </div>
                <div class="flex flex-row justify-start gap-3 lg:pr-10 lg:pl-10 md:pr-10 md:pl-10 pl-6 pr-6 mb-4">
                  <div><p id="money-left-text" class="text-purple-500 font-extrabold tracking-wider mt-2">Money left:</p></div>
                  <div><p id="budget-money-left" class="text-purple-500 font-extrabold tracking-wider mt-2">{{"$"}}{{ amount - spent }}</p></div>
                </div>

                <div class="lg:pr-10 lg:pl-10 md:pr-10 md:pl-10 pl-6 pr-6 flex flex-col">
                  <div ng-if="title === 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>You have {{ numberOfSubscriptions }} subscriptions.</p></div>
                  <div ng-if="title === 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Total cost: ${{ totalSubscriptionsCost }}</p></div>
                  <div ng-if="title != 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Budget: ${{ amount }}</p></div>
                  <div ng-if="title != 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Spent: ${{ spent }}</p></div>
                  <div ng-if="spent / amount * 100 > 100" class="black-outlined-words mb-6 text-red-500 text-xl tracking-wider"><p>You have gone over your budget for {{ title }} this month.</p></div>
                </div>
                <!-- <div ng-include="'./budget-section-files/components/monthlyBudgetBar.html'"></div>
                  <br>
                  <br> -->
                <div class="flex flex-row justify-center"><div class="lg:pr-10 lg:pl-10 md:pr-10 md:pl-10 pl-6 pr-6 w-full" ng-include="'./budget-section-files/components/testBudgetBar.html'"></div><div><a ng-click="deleteBudget(id)" id="delete-budget-btn" class="btns pt-4 pb-2 pr-2 pl-3 rounded-lg mr-8 -mt-4"><span class="material-symbols-outlined">heart_minus</span></a></div><div><a ng-href="#!editbudget" ng-click="saveIndex(id)" id="edit-budget-btn" class="btns pt-4 pb-2 pr-2 pl-3 rounded-lg mr-8 -mt-12"><span class="material-symbols-outlined">edit</span></a></div></div>

            

          </div>
    </body>
</html>