<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./budget-section-files/css/components-styles.css">
        <link rel="stylesheet" href="./budget-section-files/css/sass-styles.css">
    </head>
    <body>
        <div id="monthly-budget-container" class="pt-4 pb-8">
            <div id="monthly-budget-top" class="flex flex-row justify-between pr-10 pl-10 pt-4">
                <div class="flex flex-row justify-start -ml-6 mb-4">
                    <div class="flex flex-row gap-2 mb-2">
                   
                        <div><h1 id="monthly-budget-component-title" class="text-3xl text-purple-800 tracking-wider">{{ title }}</h1></div><div class="mt-1"><h1 id="monthly-budget-component-month" class="text-white font-bold text-2xl tracking-wider">{{months[currentMonth]}}</h1></div><div class="text-white font-semibold mt-1"><p class="text-xl mt-1 tracking-wider" id="monthly-budget-component-year">{{" " + currentYear}}</p></div>
                  </div>
                  </div>
                  <div class="flex flex-row gap-3">
                    <div><p class="text-purple-500 font-extrabold">{{"$"}}{{ amount - spent }}</p></div>
                  </div>
                </div>

                <div class="pr-10 pl-10 flex flex-col">
                  <div ng-if="title === 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>You have {{ amount - spent }} subscriptions.</p></div>
                  <div ng-if="title === 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Total cost: ${{ totalSubscriptionsCost }}</p></div>
                  <div ng-if="title != 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Budget: ${{ amount }}</p></div>
                  <div ng-if="title != 'Subscriptions'" class="mb-6 text-gray-500 text-xl"><p>Spent: ${{ spent }}</p></div>
                  <div ng-if="spent / amount * 100 > 100" class="mb-6 text-red-500 text-xl"><p>You have gone over your budget for {{ title }} this month.</p></div>
                </div>
                <!-- <div ng-include="'./budget-section-files/components/monthlyBudgetBar.html'"></div>
                  <br>
                  <br> -->
                <div class="pl-10 pr-10" ng-include="'./budget-section-files/components/testBudgetBar.html'"></div>

            

          </div>
    </body>
</html>