<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./temp-sign-in-files/css/template-styles.css">
    </head>
    <body style="background-color: black">
        <div>
            <h1>Sign In:</h1>
            <select class="border border-black" ng-model="selectedAccount" style="width: 80%;" ng-options="account.username for account in sampleAccountsData">
                <option value="">Select an account</option>
            </select>

            <button class="border border-red-400" ng-click="signIn()">sign in ^.^</button>
        </div>
    </body>
</html>