<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./home-files/css/components-styles.css">
    </head>
    <body>
        <div>
            <form>
                <div>
                   <div><label>Username</label></div>
                   <div><input type="text" placeholder="Username"></div>
                </div>
                <div>
                    <div><label>Password</label></div>
                    <div><input type="text" placeholder="Password"></div>
                </div>
                <div><button type="submit"  class="border rounded-lg bg-pink-400 text-white pt-3 pb-2 pl-4 pr-4">SIGN IN</button></div>
            </form>
        </div>
    </body>
</html>