.edit-budget-form-label-div {
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 1px black;
    font-weight: 800;
    color: #c4b5fd;

}

.edit-budget-form-divs {
    margin-bottom: 10%;
}

.edit-budget-form-inputs {
    width: 300px;
    border: 2px solid rgb(188, 121, 203);
    border-radius: 6px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: 2px solid black;
}

#edit-budget-form {
    box-shadow: 5px 5px 10px rgba(161, 106, 150, 0.64);
}

#edit-budget-form-submit-btn {
    font-family: 'Orbitron', sans-serif;
    border: 3px solid white;
    outline: 3px solid black;
    color: white;
}

#delete-budget-btn {
    outline: 4px solid black;
    border: 2px solid white;
    background: #c4b5fd;
    color: white;
}
