#edit-budget-title {
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); /* Width and color of the text outline */
    font-weight: 100;
    color: #c4b5fd;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#edit-budget-header {
    background: none;
}

body {
    /* background-image: linear-gradient(to bottom, black, black, #534d69, #9e92cc, #9e92cc, #f8d1ed, white, white, white, #f8d1ed, #9e92cc, #534d69, black, black); */
    background-image: linear-gradient(to bottom, white, white, #e7e1ff, #c4b5fd); 
}

