<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./budget-section-files/css/template-styles.css">
    </head>
    <body>
        <div id="budget-section-template-container" class="flex flex-col mb-8">
            <div class="flex flex-col  pt-4 pb-4" id="budget-sec-template-head">
                <div class="flex flex-row justify-between">
            <div><button class="btns-inverted pt-2 pr-2 pl-2 -mb-12 rounded-lg ml-12"  href=""><span class="material-symbols-outlined">chevron_left</span></button></div>
            <div class="flex flex-row gap-4">
            <div class="mt-2.5 mr-12"><a class="btns-inverted pt-4 pb-1 pr-2 pl-3 rounded-lg" ng-href="#!newbudget"><span class="material-symbols-outlined">heart_plus</span></a></div>
            </div>
        </div>

            <div class="flex flex-row justify-center"><h1 class="text-purple-800 mb-8 lg:mt-8 md:mt-8 mt-14 lg:mt-4 md:mt-4 mt-10 mb-4 lg:text-6xl md:text-5xl text-5xl" id="budget-header">Budget</h1></div>
        </div>
            <div id="budget-section-template-components-div" class="mb-24">
            <div ng-repeat="(index, data) in submittedBudgetForms" class="mb-4 mt-8">
                <monthly-budget class="flex flex-row justify-center" title="{{ data.title }}" amount="{{ data.amount }}" spent="{{ data.spent }}" id="{{ data.id }}"></monthly-budget>
            </div>
        </div>
        <!--only the users data-->
        <!-- 
        <div>
            <div ng-repeat="data in filteredBudgetsByUsername" class="mb-4 mt-8">
                <monthly-budget class="flex flex-row justify-center" title="{{ data.title }}" amount="{{ data.amount }}" spent="{{ data.spent }}"></monthly-budget>
            </div>
        </div>
    -->
        </div>
    </body>
</html>