<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="./budget-section-files/css/template-styles.css">
    </head>
    <body>
        <div id="budget-section-template-container" class="flex flex-col mb-8">
            <div class="flex flex-row justify-between pt-4 pb-4" id="budget-sec-template-head">
            <div><button class="btns-inverted pt-2 pr-2 pl-2 -mb-12 rounded-lg ml-12"  href=""><span class="material-symbols-outlined">chevron_left</span></button></div>
            <div class="flex flex-row justify-center"><h1 class="text-purple-800 mb-8 mt-8" id="budget-header">Budget</h1></div>
            <div class="flex flex-row">
            <div><button class="btns-inverted pt-2 -pb-2 pr-2 pl-3 rounded-lg mr-12" ng-click="toggleAddBudgetForm()"><span class="material-symbols-outlined">heart_plus</span></button></div>
            <div><button class="btns-inverted pt-0.5 pb-0.5 pr-2 pl-2.5 rounded-lg mr-12" ng-click="toggleEditBudgetForm()"><span class="material-symbols-outlined mt-1">edit</span></button></div>
            </div>
        </div>
            <div id="budget-section-template-components-div" class="mb-24">
            <div ng-repeat="data in submittedBudgetForms" class="mb-4 mt-8">
                <monthly-budget class="flex flex-row justify-center" barWidth="{{ data.barWidth }}" moneyLeft="{{ data.moneyLeft }}" greyBarWidth="{{ data.greyBarWidth }}" title="{{ data.title }}" amount="{{ data.amount }}" spent="{{ data.spent }}"></monthly-budget>
            </div>
            </div>

        </div>
    </body>
</html>