<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./new-budget-form-files/css/components-styles.css">
    </head>
    <body>
        <div id="new-budget-form-container" class="flex flex-row justify-center bg-white w-full">
           <form>
            <div>
                <div>
                <label>Title:</label>
                </div>
                <div>
                    <input type="text" placeholder="Title" class="shadow border"> 
                </div>
            </div>
            <div>
                <div>
                    <label>Amount</label>
                </div>
                <div>
                    <input type="number" placeholder="Enter amount" class="shadow border">
                </div>
            </div>

            <div>
                <button type="submit" class="border bg-pink-400 text-white pt-2 pb-2 pl-4 pr-4">SUBMIT</button>
            </div>
            </form>
        </div>
    </body>
</html>