#monthly-budget-bar-1 {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    padding-left: 15px;
    padding-right: 5px;
   }
   
   #monthly-budget-bar-2 {
       border-bottom-right-radius: 12px;
       border-top-right-radius: 12px;
       box-shadow: rgba(red, green, blue, alpha);
      }
   
   #monthly-budget-bar {
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
   }

#monthly-budget-bar-container {
    width: 70%;
}

#sub-overview-title {
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 1px black;
    color: #c4b5fc; /* Width and color of the text outline */
    font-weight: 600;
}

#budgets-overview-title {
       font-family: 'Orbitron', sans-serif;
       -webkit-text-stroke: 1px black;
       color: #c4b5fc; /* Width and color of the text outline */
       font-weight: 600;
}

.number-of-category {
    -webkit-text-stroke: 1px black;
    font-weight: 800;
    color: #35d499;
}


#overview-budget-bar-green {
    background: linear-gradient(to right, rgb(0, 44, 0), #228B22, #FFFFFF);
    outline: 2px solid black;
}

#overview-budget-bar-orange {
    background: linear-gradient(to right, rgb(126, 82, 0), orange, #FFFFFF);
    outline: 2px solid black;
}

#overview-budget-bar-red {
    background: linear-gradient(to right, rgb(69, 0, 0), red, #FFFFFF);
    outline: 2px solid black;
}

#overview-budget-bar-grey {
    background: linear-gradient(to right, rgb(70, 70, 70), darkgrey, #FFFFFF);
    outline: 2px solid black;
}