body { 
    background-color: rgba(255, 192, 200, 0.466);
  
}
#overview-template-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 220%;
}
         
#overview-content-title {
    font-family: 'Orbitron', sans-serif;
}

#overview-template-budget-total {

}