

body { 
    background-image: linear-gradient(to bottom, white, white, white, #f8d1ed, #9e92cc, #534d69, black, black);
  
}

#overview-template-header {
    background-image: linear-gradient(to bottom, black, black, #534d69, #9e92cc, #9e92cc, #f8d1ed, white);
    width: 100%;
}

/* pink color: #f8d1ed */
/* purple color: #c4b5fd */

#overview-template-second-header {
    box-shadow: 5px 5px 10px rgba(161, 106, 150, 0.64);
    -webkit-text-stroke: 2px black;
    font-weight: 800;
   
}

.overview-header-text {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-weight: 900;
}

#overview-template-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 280%;
    -webkit-text-stroke: 3px rgb(255, 255, 255); /* Width and color of the text outline */
   font-weight: 900;
}
         
#overview-content-title {
    font-family: 'Orbitron', sans-serif;
}

.overview-template-components-sections {
    box-shadow: 5px 5px 10px rgba(161, 106, 150, 0.64);
}
