#monthly-budget-bar-1 {
 border-bottom-left-radius: 12px;
 border-top-left-radius: 12px;
 padding-left: 15px;
 padding-right: 5px;
}

#monthly-budget-bar-2 {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: rgba(red, green, blue, alpha);
   }

#monthly-budget-bar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

#monthly-budget-top {
    width: 95%;
    margin-left: 30px;
}