#monthly-budget-bar-1 {
 border-bottom-left-radius: 12px;
 border-top-left-radius: 12px;
 padding-left: 15px;
 padding-right: 5px;
}

#monthly-budget-bar-2 {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: rgba(red, green, blue, alpha);
   }

#monthly-budget-bar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

#monthly-budget-top {
    margin-left: 30px;
}

#monthly-budget-component-title {
    font-family: 'Orbitron', sans-serif;
       -webkit-text-stroke: 1.5px black;
       color: #c4b5fc; /* Width and color of the text outline */
       font-weight: 600;
}

#monthly-budget-component-month {
    -webkit-text-stroke: 1px black;
    color: #35d499;
    font-weight: 800;
}

#monthly-budget-component-year {
    -webkit-text-stroke: 1px black;
    font-weight: 800;
}

#test-budget-bar-green {
    background: linear-gradient(to right, rgb(0, 44, 0), #228B22, #FFFFFF);
    outline: 2px solid black;
    -webkit-text-stroke: 0.5px green;
    font-weight: 900;
}

#test-budget-bar-orange {
    background: linear-gradient(to right, rgb(126, 82, 0), orange, #FFFFFF);
    outline: 2px solid black;
    -webkit-text-stroke: 0.8px rgb(255, 205, 112);
    font-weight: 900;
}

#test-budget-bar-red {
    background: linear-gradient(to right, rgb(69, 0, 0), red, #FFFFFF);
    outline: 2px solid black;
    -webkit-text-stroke: 0.5px rgb(255, 99, 99);
    font-weight: 900;
}

#test-budget-bar-grey {
    background: linear-gradient(to right, rgb(70, 70, 70), darkgrey, #FFFFFF);
    outline: 2px solid black;
    -webkit-text-stroke: 0.5px rgb(167, 167, 167);
    font-weight: 900;
}

#budget-money-left {
    -webkit-text-stroke: 0.5px black;
    
}

#money-left-text {
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 0.5px black;
    color: #039b00; /* Width and color of the text outline */
    font-weight: 600;
}