body { 
    /* background-image: linear-gradient(to bottom, white, white, white, #f8d1ed, #9e92cc, #534d69, black, black); */
    background-image: linear-gradient(to bottom, rgb(252, 252, 252), rgb(252, 252, 252), #e7e1ff, #c4b5fd); 

}

#no-budgets-message {
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 0.8px black;
    
}

#budget-header {
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); /* Width and color of the text outline */
    font-weight: 100;
    color: #35d499;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-family: 'Orbitron', sans-serif;
}

#budget-section-template-form-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 120%;
}

#budget-sec-template-head {
    /* background-image: linear-gradient(to bottom, black, black, #534d69, #9e92cc, #9e92cc, #f8d1ed, white); */
}