body { 
    background-color: rgb(250, 209, 237);
}

#budget-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 220%;
}

#budget-section-template-form-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 120%;
}